body {
  background-color: black;
  color: #ccc;
}

#container {
  font-family: verdana;
  margin: auto;
  font-size: 20;
  max-width: 600px;
  line-height: 1.8;
}

#footer {
  font-size: 15;
  border-top: 1px solid #666;
}

.code {
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #222;
  font-size: 18;
  line-height: 1.0;
  line-height: 1.0;
  width: 100%;
}

code {
  white-space: pre;
  overflow: scroll;
}

.picture {
  padding: 5px;
  padding-top: 15px;
  background-color: #333;
  border: 1px solid #666;
  margin: 20px;
}

.picture img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  color: #ccc;
  font-size: 15;
  text-align: center;
  min-height: 10px;
}

a {
  color: #6871ff;
}

a:active {
  color: red;
}

a:visited {
  color: #6871ff;
}

h1, h2, h3, h4, h5, h6, h7 {
  line-height: 1.0;
  color: white;
  margin-top: 60px;
  margin-bottom: 0px;
}

table {
  width: 100%;
  margin: 30px;
}

th {
  padding: 6px;
  text-align: left;
}

td {
  padding: 4px;
}

